.hand {
    position: absolute;
    left: 50%;
    transform-origin: 50% 90%;
    width: 5px;
    background-color: white;
    z-index: 999;
    box-shadow: 0 2px 8px grey;
    transition: all 0.3s ease;
}

#minutes {
    height: 60px;
    top: 55px;
}

#hours {
    height: 40px;
}

#seconds {
    height: 60px;
    width: 2px;
    transition: none;
    top: 55px;
}

#clock {
    height: 200px;
}

@media screen and (max-width: 1200px) {
    #minutes, #seconds {
        top: 12px;
    }
}